<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<div class="container-fluid" layout:fragment="content">
    <h1>Student Detail</h1>

    <form>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control bg-dark" id="id" th:value="${student.id}" disabled>
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Nis</label>
                    <input type="text" class="form-control bg-dark" id="firstName" th:value="${student.nis}" disabled>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Name</label>
                    <input type="text" class="form-control bg-dark" id="lastName" th:value="${student.nama}" disabled>
                </div>
            </div>
        </div>
        <h3>School History</h3>
        <div class="row" th:each="history : ${student.schoolHistory}">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" th:text="${history.schoolName}">
                        Featured
                    </div>
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Class Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Teacher</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${history.schoolClasses}">
                                <th scope="row" th:text="${data.id}">1</th>
                                <td th:text="${data.schoolCLass}">Mark</td>
                                <td th:text="${data.start}">Otto</td>
                                <td th:text="${data.end}">Otto</td>
                                <td th:text="${data.teacher}">Otto</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </form>
</div>
</body>
</html>