<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Dusun</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h1>Dusun</h1>
    <form>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" th:value="${dusun2.id}" disabled>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="name" th:value="${dusun2.name}" disabled>
                </div>
            </div>
        </div>
        <div>
            <h3>RW</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Daftar RW
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Ketua RW</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dataDusun, no : ${dusun2.daftarRW2}">
                                    <th scope="row" th:text="${no.index +1}">1</th>
                                    <td th:text="${dataDusun.name}">Mark</td>
                                    <td th:text="${dataDusun.nameRW}">Otto</td>
                                    <td>
                                        <a th:href="@{~/kelurahan2/kelurahan2/detail/{kelurahanId}/dusun/{dusunId}/rw/{rwId}(kelurahanId=${kelurahan.id}, dusunId=${dusun2.id}, rwId=${dataDusun.id})}" class="btn btn-primary">
                                            Detail
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>