<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Kelurahan</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h1>Sensus Penduduk</h1>
    <a th:href="@{~/kelurahan2/add/v2}">Tambah</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nama</th>
            <th scope="col">Kecamatan</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${lurah}">
            <td th:text="${data.nama}">Mark</td>
            <td th:text="${data.kecamatan}">Otto</td>
            <td>
                <a th:href="@{/kelurahan2/kelurahan2/detail/{id}(id=${data.id})}" class="btn btn-primary">
                    Detail
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>