<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>RT</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h1>RT</h1>
    <form>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" th:value="${rt2.id}" disabled>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="name" th:value="${rt2.name}" disabled>
                </div>
                <div class="mb-3">
                    <label for="nameRT" class="form-label">Nama RT</label>
                    <input type="text" class="form-control" id="nameRT" th:value="${rt2.nameRt}" disabled>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Daftar Warga
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nik</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Jenis Kelamin</th>
                                <th scope="col">Usia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="daftarWarga, no : ${rt2.daftarWarga2}">
                                <th scope="row" th:text="${no.index +1}">1</th>
                                <td th:text="${daftarWarga.nik}">Mark</td>
                                <td th:text="${daftarWarga.namaWarga}">Otto</td>
                                <td th:text="${daftarWarga.jenisKelamin}">Otto</td>
                                <td th:text="${daftarWarga.age}">Otto</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>